<!-- News Carousel -->
<div class="container carousel-container">
  <div id="carousel-example-generic-1" class="carousel slide" data-ride="carousel">
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active center-block">
        <%= image_tag("Slider_1Vegan.jpg", class: "center-block") %>
      </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic-1" role="button" data-slide="prev">
      <%= image_tag("Loeffel_off_links.png", class: "loeffel-icon loeffel-links") %>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
      <%= image_tag("Loeffel_off.png", class: "loeffel-icon loeffel-rechts") %>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

<!-- Oeffnungszeiten -->
<p class="oeffnung center-block">&Ouml;ffnungszeiten: Mo.-Do. 8:30 – 23:30 Uhr * Fr: 8:30 – 2:00 UHR * Sa: 12–2:00 Uhr * S0: 12–23 Uhr</p>

<!-- Loeffelpfeil und Waffelteller -->
<div class="container">
  <div class="row">
    <div class="col-xs-3 col-xs-offset-3 col-md-2 col-md-offset-5 col-lg-2 col-lg-offset-5">
      <%= image_tag("Loeffelpfeil_3.png", class: "loeffelpfeil3 center-block img-responsive") %>
    </div>
    <div class="col-xs-5 col-md-3 col-md-offset-1 col-lg-4 col-lg-offset-1">
      <%= image_tag("Waffel_frei_kl.png", class: "waffel img-responsive") %>
    </div>
  </div>
</div>

<!-- Zitate -->
<div id="about" class="anchor">
  <div class="container">
    <div class="row">
      <blockquote>
        <h2>&bdquo;Beispielzitat als Einstieg f&uuml;r den ABOUT-Text: Ein kleiner Schritt f&uuml;r die Menschheit...&ldquo;</h2>
        <p>... wenn &uuml;berhaupt ein großer Schritt f&uuml;r uns. Lorem ipsum dolor sit amet, consectetuer adipi- scing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pel- lentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.</p>
      </blockquote>
    </div>
  </div>

  <!-- Eis und Menue -->
  <div class="container menue-row">
    <div class="row">
      <div class="col-xs-6 col-xs-offset-3 col-sm-5 col-sm-offset-4 col-md-4 col-md-offset-4 col-lg-3 col-lg-offset-5">
        <%= image_tag("Eiskugel_frei_kl.png", class: "eiskugel center-block img-responsive") %>
      </div>
      <div class="col-xs-8 col-xs-offset-2 col-sm-10 col-sm-offset-3 col-md-4 col-md-offset-0 col-lg-4 col-lg-offset-0 ">
        <%= image_tag("Rahmen_Menu.png", class: "menue img-responsive") %>
      </div>
    </div>
  </div>
</div>

<h3 class="event-cta">Scroll down to check our events!</h3>

<!-- Scroll Arrow 2 -->
<div class="container">
  <div class="row loeffelpfeil2">
    <div class="col-xs-4 col-xs-offset-4 col-md-2 col-md-offset-3 col-lg-2 col-lg-offset-3">
      <%= image_tag("Loeffelpfeil_2.png", class: " center-block img-responsive") %>
    </div>
  </div>
</div>


<!-- Events -->
<div id="events" class="anchor">
  <div class="container menue-row">
    <div class="row">
      <div class="col-xs-6 col-md-4 col-lg-4">
        <h3>Upcoming Events:</h3>
      </div>
      <div class="col-xs-6 col-sm-4 col-sm-offset-2 col-md-3 col-md-offset-5 col-lg-3 col-lg-offset-5">
        <%= image_tag("But_Event_Archive.png", class: "archive img-responsive") %>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xs-6 col-md-4 col-lg-4">

      </div>
    </div>
  </div>

  <h1 class="center-block ownevent">Book <strong>Kremanski</strong> for your own event!</h1>
</div>

<div class="container cocktail">
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3 col-sm-4 col-sm-offset-1 col-md-3 col-md-offset-1 col-lg-3 col-lg-offset-1">
      <%= image_tag("Cocktail_frei_kl.png", class: "center-block img-responsive glas") %>
    </div>
  </div>
</div>

<!-- Partner Carousel -->
<div id="partner" class="anchor">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
        <%= image_tag("Headline_Partner.png", class: "center-block img-responsive partnerueberschrift") %>
        <div id="carousel-example-generic-2" class="carousel slide" data-ride="carousel">
          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">
            <div class="item active">
              <%= image_tag("Block_Partner_Bonanza.png", class: "center-block") %>
            </div>
            <div class="item">
              <%= image_tag("Block_Partner_BW.png", class: "center-block") %>
            </div>
            <div class="item">
              <%= image_tag("Block_Partner_Schoppe.png", class: "center-block") %>
            </div>
            <div class="item">
              <%= image_tag("Block_Partner_Scharbat.png", class: "center-block") %>
            </div>
            <div class="item">
              <%= image_tag("Block_Partner_Lieferservice.png", class: "center-block") %>
            </div>
            <div class="item">
              <%= image_tag("Block_Partner_Suff.png", class: "center-block") %>
            </div>
          </div>

          <!-- Controls -->
          <a class="left carousel-control" href="#carousel-example-generic-2" role="button" data-slide="prev">
            <%= image_tag("Loeffel_off_links.png", class: "loeffel-icon loeffel-links-partner") %>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#carousel-example-generic-2" role="button" data-slide="next">
            <%= image_tag("Loeffel_off.png", class: "loeffel-icon loeffel-rechts-partner") %>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
      <div class="col-xs-6 col-xs-offset-3 col-sm-12 col-sm-offset-0 col-md-4 col-lg-4 col-lg-offset-0">
        <%= image_tag("Kaffee_LatteArt_kl.png", class: "center-block img-responsive kaffee") %>
      </div>
    </div>
  </div>
</div>

<!-- Bildergalerie -->
<div id="gallery" class="anchor">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <%= link_to image_tag("Bild1_kl.png", class: "center-block", alt: "Voderzimmer"), image_path("Bild1_gr.jpg", alt: "Voderzimmer"), data: { lightbox: "Gallerie" }  %>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <%= link_to image_tag("Bild4_kl.png", class: "center-block", alt: "Voderzimmer"), image_path("Bild4_gr.jpg", alt: "Voderzimmer"), data: { lightbox: "Gallerie" }  %>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <%= link_to image_tag("Bild5_kl.png", class: "center-block", alt: "Voderzimmer"), image_path("Bild5_gr.jpg", alt: "Voderzimmer"), data: { lightbox: "Gallerie" }  %>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <%= link_to image_tag("Bild6_kl.png", class: "center-block", alt: "Voderzimmer"), image_path("Bild6_gr.jpg", alt: "Voderzimmer"), data: { lightbox: "Gallerie" }  %>
      </div>
    </div>
  </div>
</div>


<!-- Kontakt -->
<div id="contact" class="anchor">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <%= image_tag("Circle_Call_Us.png", class: "center-block img-responsive call-us") %>
      </div>
      <%= form_tag main_pages_contact_form_path do %>
        <div class="col-xs-12 col-xs-offset-0 col-sm-12 col-sm-offset-0 col-md-7 col-lg-7 form">
          <%= flash[:notice] %>
          <%= image_tag("Headline_Kontakt.png", class: "center-block img-responsive kontaktueberschrift") %>
          <div class="form-group">
            <div class="row name">
              <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                <%= label_tag :name, "Name:", class: "label" %>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 ">
                <%= text_field_tag :name, nil, class: "textfeld" %>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row email">
              <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                <%= label_tag :email, "E-mail:", class: "label" %>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
                <%= text_field_tag :email, nil, class: "textfeld"  %>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row email">
              <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                <%= label_tag :message, "Nachricht:", class: "label" %>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
                <%= text_area_tag :message, nil, class: "textarea"  %>
              </div>
            </div>
          </div>
          <div class="submit">
              <%= submit_tag "Senden", class: "btn btn-default", id: "contact-form-submit" %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="row links-map">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 social-links">
        <ul>
          <li class="vertical-list"><%= link_to "Facebook", "https://www.facebook.com/kremanski/", class: "find-us-link", target: "_blank" %></li>
          <li class="vertical-list"><%= link_to "Instagram", "https://www.instagram.com/cafekremanski/", class: "find-us-link", target: "_blank" %></li>
          <li class="vertical-list vertical-list-last"><%= link_to "Yelp", "http://www.yelp.de/biz/kremanski-berlin", class: "find-us-link", target: "_blank" %></li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
        <address><strong>LOCATED:</strong> Adalbertraße 96, 10999 Berlin</address>
        <div id="map"></div>
      </div>
    </div>   
  </div>
</div>