<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>
      <ul>
      <% @event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="row">
  <div class="col-lg-12 col-md-12 col-xs-12">
    <div class="field">
      <%= f.label :name, :class => "form-label" %><br>
      <%= f.text_field :name, :class => "form-control" %>
    </div>
    <div class="field">
      <%= f.label :date, :class => "form-label" %><br>
      <%= f.date_select :date, :class => "form-control" %>
    </div>
    <div class="field">
      <%= f.label :description, :class => "form-label" %><br>
      <%= f.text_area :description, :class => "form-control" %>
    </div>
    <div>
      <%= f.submit "Create Event", class: "btn btn-default" %>
    </div>
  </div>
</div>
<% end %>
