<!-- Navigation -->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to image_tag("Kremanski_Logo_226px.png", class: "navbar-brand img-responsive"), main_pages_index_path %>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><%= link_to "Zurück", main_pages_index_path %></li>
        <% if user_signed_in? %>
   				<li>
      			<%= link_to destroy_user_session_path, method: :delete do %>
        		<span class="glyphicon glyphicon-ban-circle"></span>
      			<% end %>
			    </li>
			  <% end %>
      </ul>
    </div>
  </div>
</nav>

<div class="container events">
  <h1>Events</h1>
	<% if current_user && current_user.admin? %>
	  <div class="row">
		  <div class="col-xs-12 neues-event">
		      <%= link_to 'Neues Event erstellen', new_event_path, class: "btn btn-default center-block" %>
		  </div>
	  </div>
	<% end %>

	
 	<% @event_months.each do |month, events| %>
 	<div class="row">
		<h2 class="event-month"><%= month.strftime('%B %Y') %></h2>
			<% for event in events %>
	  		<div class="col-xs-8 col-sm-3 col-md-3 col-lg-3 event-name">
	    		<%= event.name %>
	  		</div>
	    	<div class="col-xs-4 col-sm-2 col-md-2 col-lg-2 event-date">
	    		<%= format_date(event.date) %>
	  		</div>
	  		<div class="col-xs-12 col-sm-5 col-md-5 col-lg-5 event-description">
	    		<%= event.description %>
	      </div>
      	<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    			<%= link_to "Zum Event Flyer", event.image.url(:medium), class: "event-flyer" %>
    			<% if current_user && current_user.admin? %>
	    			<div class="event-admin">
		        	<%= link_to edit_event_path(event), class: "event-button" do %>
		        		<span class="glyphicon glyphicon-pencil"></span>
		        	<% end %>
		        	<%= link_to event, method: :delete, data: { confirm: 'Are you sure?'}, class: "event-button" do %>
		        		<span class="glyphicon glyphicon-trash"></span>
		        	<% end %>
		      	</div>
	      	<% end %>
  			</div>
			<% end %>
			</div>
		<% end %>
	
</div>